<p><%= f.select :timezone, TZInfo::Timezone.all_data_zone_identifiers, {:include_blank => true, :size => 30} %></p>
<p><%= f.text_field :display_format, {:size => 50}%> ex. [{status.name}]{subject} #{id}</p>
<p><%= f.check_box :delete_after_close %></p>